wheel
setuptools==50.0.3
cython==0.29.21
numpy==1.17.5; python_version < '3.9' and platform.machine not in ('armv7l', 'aarch64')
numpy==1.19.5; python_version >= '3.9' or platform.machine in ('armv7l', 'aarch64')
